@import '../../../assets/styles/variable';
@import '../../../assets//styles/common/function.scss';
.home-screen-wrapper {
	background-color: $white;
	color: black;
	height: 100vh;
	width: 100vw;

	.title {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		color: #415c2b;
		padding: 10px 20px;
		box-sizing: border-box;
		display: flex;
		font-size: 20px;
		justify-content: space-between;
		align-items: center;
		.map--title {
			background-color: black;
			color: $white;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px;
			border-radius: 5px;
		}
	}
	.title-hr {
		color: #415c2b;
		background-color: #415c2b;
		height: 1px;
		width: 100%;
		max-width: 1400px;
	}
	.hero--wrapper {
		margin: 20px auto;
		height: calc(100vh - 370px);
		max-width: 1400px;

		.cards-wrapper {
			margin-top: 20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.card-conatiner--wrapper {
				width: 20%;
				height: 150px;
				background-color: rgb(230, 235, 230);
				border-radius: 5px;
				padding: 20px;
				margin: 15px 10px;
				.location-title {
					font-size: 20px;
				}
				.description {
					width: 300px;
				}
				.labels {
					font-size: 16px;
				}
			}
		}
	}
	.map-wrapper {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
	}
}
